
<%= form_for(@trip) do |f| %>

  <p>
    <%= f.text_field :startzipcode, :placeholder => "Starting Zip Code" %>
  </p>

  <p>
    <%= f.text_field :endzipcode, :placeholder => "Destination Zip Code" %>
  </p>

  <div>
    <button class="btn btn-default">Ready<% f.submit %></button>
  </div>

<% end %>


