/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {background-color:#A9E2F3;}

.homepage {
  background:url('/assets/open_road_large.jpg');
  background-repeat:no-repeat;
  background-size:cover;
}

/* Styling Typography */

.homepage h1, h2, h3, h4, h5, h6, p {
  font-family: 'Raleway', sans-serif;
}

.homepage h1 {
  font-size: 72px;
}

.homepage h2 {
  font-size: 20px;
  font-weight: 200;
}

.forecast h2 {
  font-size: 20px;
  font-weight: 300;
}


/* Navbar */

.navbar .navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #FFF;

}


/* Zip Code Form on Home Page */

.homepage .jumbotron {
  width: 450px;
  float: right;
  margin-right: 100px;
  opacity: .85;
}

.homepage .jumbotron h2 {
  width: 300px;
  margin-bottom: 20px;
  line-height: 1.2em;
}

.homepage .jumbotron p {
  font-size: 18px;
}



/* Zip Code Form */

.homepage .form p {
  font-weight: 200;
}

/* Devise Form */

.devise {
  width: 450px;
  float: left;
  margin-right: 100px;
  opacity: .85;
}

.devise h2 {
  width: 300px;
  margin-bottom: 20px;
  line-height: 1.2em;
}

.devise p {
  font-size: 18px;
}











